@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


html, body {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.p-menu {
    font-family: inherit;
    font-size: 14px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    border: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.p-menuitem-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.p-component{
    font-size: .75rem;
    font-weight: 200;
}

.p-dialog {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    font-family: inherit;
}

#app {
    overflow: hidden;
}